<tr class="treegrid-1">
                                        <td><input name="jform[titulos][]" value="a1" type="text"></td>
                                        <td>12/03/2018 16:23</td>
                                        <td>aloisio.soares</td>
                                        <td><input name="jform[arquivo][]" value="1520882611_home-code.png" type="file"> (1520882611_home-code.png)</td>

                                        <td>
                                            <input class="btn btn-small button-new btn-danger" id="btnDelete" value="- Remover" onclick="removeLinha('treegrid-1')" type="button">

                                            <input class="btn btn-small button-new btn-success adicionaLinhaFilha" value="+ Linha" onclick="adicionaLinhaFilha('treegrid-1')" data-pai="1" type="button">

                                        </td>
                                    </tr>

                                    <tr class="treegrid-2 treegrid-parent-1">
                                        <td><input name="jform[titulos][]" value="a2" type="text"></td>
                                        <td>12/03/2018 16:23</td>
                                        <td>aloisio.soares</td>
                                        <td><input name="jform[arquivo][]" value="1520882611_home-code.png" type="file"> (1520882611_home-code.png)</td>
                                        <td>
                                            <input class="btn btn-small button-new btn-danger" id="btnDelete" value="- Remover" onclick="removeLinha('treegrid-2')" type="button">

                                            <input class="btn btn-small button-new btn-success adicionaLinhaFilha" value="+ Linha" onclick="adicionaLinhaFilha('treegrid-2')" data-pai="1" type="button">

                                        </td>
                                    </tr>

                                    <tr class="treegrid-3">
                                        <td><input name="jform[titulos][]" value="a3" type="text"></td>
                                        <td>12/03/2018 16:23</td>
                                        <td>aloisio.soares</td>
                                        <td><input name="jform[arquivo][]" value="1520882611_home-code.png" type="file"> (1520882611_home-code.png)</td>
                                        <td><input class="btn btn-small button-new btn-danger" id="btnDelete" value="- Remover" onclick="removeLinha('treegrid-3')" type="button"></td>
                                    </tr>

                                    <tr class="treegrid-4">
                                        <td><input name="jform[titulos][]" value="a4" type="text"></td>
                                        <td>12/03/2018 16:23</td>
                                        <td>aloisio.soares</td>
                                        <td><input name="jform[arquivo][]" value="1520882611_home-code.png" type="file"> (1520882611_home-code.png)</td>
                                        <td><input class="btn btn-small button-new btn-danger" id="btnDelete" value="- Remover" onclick="removeLinha('treegrid-4')" type="button"></td>
                                    </tr>